# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 环境文件
.env
.env.*
.venv
venv/
ENV/
ai-image-generator/venv/*

# IDE
.idea/
.vscode/

# 日志文件
*.log

# 上传的文件
static/uploads/*
!static/uploads/.gitkeep

# 系统文件
.DS_Store
aiimage-clean/
